*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,body{
width:100%;
height:100%;
overflow:hidden;
font-family:Poppins,Arial,sans-serif;
}

body{
display:flex;
justify-content:center;
align-items:center;
background:#050816;
position:relative;
color:#fff;
}

/* Neon Background */

.background{
position:fixed;
inset:0;
background:
radial-gradient(circle at top left,#00ffff33,transparent 35%),
radial-gradient(circle at bottom right,#ff00ff33,transparent 35%),
radial-gradient(circle at center,#00ff9933,transparent 45%);
filter:blur(70px);
z-index:-2;
}

/* Glass Card */

.card{
width:90%;
max-width:520px;
padding:40px;
text-align:center;
background:rgba(255,255,255,.08);
backdrop-filter:blur(18px);
border-radius:25px;
border:1px solid rgba(255,255,255,.2);
box-shadow:
0 0 30px cyan,
0 0 80px rgba(255,0,255,.3);
}

h1{
font-size:50px;
font-weight:900;
color:#00ffff;
text-shadow:0 0 20px cyan;
}

h2{
margin-top:10px;
font-size:34px;
color:#ff00ff;
text-shadow:0 0 20px #ff00ff;
}

p{
margin:25px 0;
font-size:20px;
}

button{
padding:16px 40px;
font-size:18px;
font-weight:bold;
border:none;
border-radius:50px;
cursor:pointer;
color:#fff;
background:linear-gradient(90deg,#00ffff,#ff00ff);
box-shadow:0 0 20px cyan;
transition:.3s;
}

button:hover{
transform:scale(1.08);
}

#gift{
display:none;
font-size:120px;
margin-top:30px;
}
